h1 {
    text-align: center;
}

* {
    font-family: tahoma;
}

p {
    background-color: aqua;
}

.fixed-position {
    position: fixed;
    background-color: coral;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
}
.container {
    margin-top: 100px;
}
