body {
    width: 90%;
    margin: 0 auto;
    font-family: Arial;
    box-sizing: border-box;
}

.header {
    text-align: center ;
}

#content {
    overflow: auto;
}

#nav, #feature, #footer {
    background-color: springgreen;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
}

.column1, .column2, .column3 {
    background-color: gold;
    width: 30%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    padding: 0.66%;
    float: left;
}

.column1 {
    margin-left: 0px;
}

.column3 {
    margin-right: 0px;
}

#content h3 {
    text-align: center;
}

#feature img {
    width: 30%;
}

li {
    display: inline;
}
